@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c4144 ;   
  
}


main {
  width: 325px;
  height: 515px;
  padding: 5px;
  background-color: #0d1116 ; 
  color: #DBC8AC;
  box-shadow: 13px 13px 1px #241910;  
  border-radius: 5%;
}

footer{
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(214, 44, 44, 0.6);
  color: white;
  align-items: center;
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-size:xx-large;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid #87805E;
  color: #EEF2E6;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover {
  width: 66px;
  padding: 22px;
  margin: 0 3px;
  color: #EEF2E6;
  border-radius: 25px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 216px;
  text-align: justify;
  background-color: #3B3B3B;
  color: #EEF2E6;
  font-size: 20px;
  margin: 0;
  padding: 14px 0px;
  border: 2px solid #87805E;
  border-radius: 20px;
}

#n {
  background-color: #362D0B;
}

#s {
  background-color: #1C546F;
}

#e {
  background-color: #790B0B;
}

#e:hover {
  background-color: #2D033B;
}

#n:hover {
  background-color: #2D033B;
}

#s:hover {
  background-color: #2D033B;
}
